<h1 class="col-container">Login</h1>

<br/>

<form class="col-container" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">


  <div>
    <label for="email">
      tr_ Email
    </label>
    <input id="email" type="username" autocomplete="username" formControlName="email">
  </div>

  <div>
    <label for="password">
      tr_ Password
    </label>
    <input id="password" type="password" autocomplete="new-password" formControlName="password">
  </div>

  <p *ngIf="error">{{error}}</p>
  <button class="button"  type="submit" *ngIf="loginForm.status=='VALID'">TR_ Login</button>
</form>